adal==1.2.4
aiohttp-cors==0.7.0
aiohttp==3.6.2
aioredis==1.3.1
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.2.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-common==1.1.25
backcall==0.2.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bleach==3.2.1
blessings==1.7
blis==0.4.1
brotlipy==0.7.0
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
conda-package-handling==1.7.2
conda==4.9.1
configparser==5.0.0
cryptography==3.1.1
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
dm-tree==0.1.5
docker-pycreds==0.4.0
entrypoints==0.3
fastai==2.0.16
fastbook==0.0.11
fastcore==1.1.0
fastprogress==1.0.0
filelock==3.0.12
future==0.18.2
gitdb==4.0.5
gitpython==3.1.11
google-api-core==1.22.4
google-auth==1.22.1
google==3.0.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
gputil==1.4.0
gputils==1.0.6
grpcio==1.32.0
gym==0.17.3
hiredis==1.1.0
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.17.2
jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jss==1.0.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-git==0.22.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.8
kiwisolver==1.2.0
lz4==3.1.0
markupsafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
msrest==0.6.19
msrestazure==0.6.4
multidict==4.7.6
murmurhash==1.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbdev==1.1.0
nbdime==2.1.0
nbformat==5.0.8
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.19.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus-context==0.1.1
opencensus==0.7.10
opencv-python-headless==4.3.0.36
opencv-python==4.4.0.44
ortools==8.0.8283
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.2.4
plac==1.1.3
plotly==4.11.0
preshed==3.0.2
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py-spy==0.3.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
pyglet==1.5.0
pygments==2.7.2
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
pyzmq==19.0.2
ray==1.0.0
redis==3.4.1
requests-oauthlib==1.3.0
requests==2.24.0
retrying==1.3.3
rsa==4.6
ruamel-yaml==0.15.87
scikit-learn==0.23.2
scipy==1.5.2
send2trash==1.5.0
sentencepiece==0.1.86
sentry-sdk==0.18.0
setproctitle==1.1.10
setuptools==50.3.0.post20201103
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.2
subprocess32==3.5.4
tabulate==0.8.7
tensorboardx==2.1
terminado==0.9.1
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
torch==1.7.0
torchvision==0.8.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
wandb==0.10.5
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
widgetsnbextension==3.5.1
yarl==1.6.0
zipp==3.4.0